<template>
  <section class="bg-[#FAFAFC] pb-20 lg:pb-[140px]">
    <section class="container mx-auto px-6 sm:px-24" id="casestudy">
      <section class="pt-12 md:pt-32 lg:pt-[140px]" id="ourservices">
        <div class="">
          <div
            class="text-center font-r-semibold text-xl md:text-2xl lg:text-3xl xl:text-[40px] text-[#6E6E73] c-title-1"
          >
            Our Strength
          </div>
          <div
            class="text-center text-5xl sm:text-6xl md:text-7xl lg:text-[84px] font-r-b mt-6 c-title-2"
          >
            Case Study
          </div>
          <p
            class="text-center text-2xl text-[#6E6E73] mt-10 px-6 md:px-12 lg:px-24 xl:px-48 line-height-32 c-description-1"
          >
            Since our establishment, we have been delivering high-quality and
            sustainable software solutions for corporate purposes of worldwide
            businesses.
          </p>
        </div>

        <div class="pt-[50px] md:pt-[104px]">
          <div class="grid grid-col-1 lg:grid-cols-2 gap-8">
            <div class="p-2 sm:p-6 rounded-3xl bg-white hover:scale-[105%] transition-all duration-500">
              <div class="">
                <img
                  class="w-full"
                  src="../../../assets//images/home/case-study/cs1.png"
                />
              </div>
              <div class="px-3 pt-12">
                <h2 class="font-r-semibold text-3xl lg:text-[32px]">
                  Industry Expertise & Experience
                </h2>
                <p class="text-2xl leading-10 pt-[32px]">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry.
                </p>
              </div>

              <div class="w-[100%] flex justify-end pt-[32px]">
                <ExpandButton />
              </div>
            </div>
            <div class="p-2 sm:p-6 rounded-3xl bg-white hover:scale-[105%] transition-all duration-500">
              <div class="">
                <img
                  class="w-full"
                  src="../../../assets//images/home/case-study/cs3.png"
                />
              </div>
              <div class="px-3 pt-12">
                <h2 class="font-r-semibold text-3xl lg:text-[32px]">
                  Industry Expertise & Experience
                </h2>
                <p class="text-2xl leading-10 pt-[32px]">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry.
                </p>
              </div>

              <div class="w-[100%] flex justify-end pt-[32px]">
                <ExpandButton />
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </section>
</template>
<script setup>
import ExpandButton from "../../buttons/ExpandableButton.vue";
</script>

<style scoped>
  .line-height-32 {
    line-height: 32px;
  }
</style>