<template>
  <div class="bg-[#FFFFFF]">
    <section class="container mx-auto px-6 sm:px-24 flex justify-center">
      <section class="w-full">
        <div class="flex justify-center" id="blog">
          <div class="">
            <!-- heading section -->
            <div class="grid grid-cols-1 pt-20 2xl:pt-[100px] w-full">
              <div
                class="text-center font-r-semibold text-2xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-[40px] text-[#6E6E73] b-title-1"
              >
                Know Something More
              </div>
              <div id="blogSlider"
                class="text-center text-5xl sm:text-6xl md:text-7xl lg:text-[84px] font-r-b pt-6 b-title-2"
              >
                Blog
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <section class="w-6/6 pt-16 2xl:pt-20" >
      <!-- :autoplay="{ delay: 1500 }"
      loop -->
      <Swiper
        :pagination="{ clickable: true }"
        :space-between="30"
        class="blog-slider"
        :modules="[Autoplay, Navigation, Pagination]"
        :navigation="{ prevEl: '.prev', nextEl: '.next' }"
        :slidesPerView="3"
        style="--swiper-pagination-bullet-size: 12px"
        :breakpoints="{
          '100': {
            slidesPerView: 1,
            spaceBetween: 1,
          },
          '200': {
            slidesPerView: 1,
            spaceBetween: 1,
          },
          '400': {
            slidesPerView: 1,
            spaceBetween: 1,
          },
          '640': {
            slidesPerView: 1,
            spaceBetween: 1,
          },
          '768': {
            slidesPerView: 2,
            spaceBetween: 10,
          },
          '1024': {
            slidesPerView: 3,
            spaceBetween: 20,
          },
          '1280': {
            slidesPerView: 4,
            spaceBetween: 30,
          },
          '1536': {
            slidesPerView: 4,
            spaceBetween: 30,
          },
          '1920': {
            slidesPerView: 4,
            spaceBetween: 30,
          },
        }"
      >
        <swiper-slide class="blog-card-1">
          <BlogCard
            img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhOt8yVPy6GGZ4tjCXHpImPPqpNoEwJGeE2Q&s"
            time="2"
            title="Ea fugiat nobis corrupti excepturi"
            content="Lorem Ipsum is simply dummy text of the printing and typesetting."
          />
        </swiper-slide>

        <swiper-slide class="blog-card-2">
          <BlogCard
            img="https://cdn.stocksnap.io/img-thumbs/280h/butterflies-nature_IFVYIKNJC1.jpg"
            time="2"
            title="Ea fugiat nobis corrupti excepturi"
            content="Lorem Ipsum is simply dummy text of the printing and typesetting."
          />
        </swiper-slide>

        <swiper-slide class="blog-card-3">
          <BlogCard
            img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvaOwW6DpUGHJ5qzsZRiH9vlJ4rsWgX3vhX_Ve3cFkufO7tLFaGDbv4fBBURRuf8dC_Lg&usqp=CAU"
            time="5"
            title="Ea fugiat nobis corrupti excepturi"
            content="Lorem Ipsum is simply dummy text of the printing and typesetting."
          />
        </swiper-slide>

        <swiper-slide class="blog-card-4">
          <BlogCard
            img="https://nt.global.ssl.fastly.net/binaries/content/gallery/website/national/library/our-cause/on-the-shore-borrowdale-and-derwent-water-1518851.jpg?auto=webp&width=767&crop=16:9&dpr=2%202x"
            time="4"
            title="Ea fugiat nobis corrupti excepturi"
            content="Lorem Ipsum is simply dummy text of the printing and typesetting."
          />
        </swiper-slide>

        <swiper-slide class="blog-card-5">
          <BlogCard
            img="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKyVfDXaVADLFy6cl9W2BY8AYspIsVQmAfrnRq3vz3wVTcNHZqPBZ0Vt6lof9lWsm5huI&usqp=CAU"
            time="4"
            title="Ea fugiat nobis corrupti excepturi"
            content="Lorem Ipsum is simply dummy text of the printing and typesetting."
          />
        </swiper-slide>
        <swiper-slide>
          <BlogCard
            img="https://media.istockphoto.com/id/508417878/photo/back-view-of-modern-programmer-sitting-and-writing-code.jpg?s=612x612&w=0&k=20&c=6N-Uxsz3cpAgcqRFN6nq2VVhcuyoSDj-ChXrSzD6eQo="
            time="4"
            title="Ea fugiat nobis corrupti excepturi"
            content="Lorem Ipsum is simply dummy text of the printing and typesetting."
          />
        </swiper-slide>
        <div class="hidden md:block">
            <div
              class="absolute flex justify-center lg:justify-start bottom-[12%] left-[33.5%] sm:bottom-[12%] sm:left-[40.5%] md:bottom-[0%] md:left-[13%] z-30"
            >
              <button
                class="group w-[52px] h-[52px] rounded-full bg-[#0567E1] hover:bg-[#EEEEEE] flex justify-center items-center prev"
                @click="clickPrev"
              >
                <span>
                  <img
                    class="group-hover:hidden -rotate-[180deg]"
                    src="../../../assets//images/home/right_arrow_small.png"
                  />
                  <img
                    class="hidden group-hover:block h-[28px] w-[20px]"
                    src="../../../assets/images/home/Testimonials/left-arrow-black-icon.png"
                  />
                </span>
              </button>
              <button
                class="group w-[52px] h-[52px] rounded-full bg-[#0567E1] hover:bg-[#EEEEEE] flex justify-center items-center ml-[16px] next"
                @click="clickNext"
              >
                <img
                  class="group-hover:hidden"
                  src="../../../assets//images/home/right_arrow_small.png"
                />
                <img
                  class="hidden group-hover:block h-[28px] w-[20px] -rotate-[180deg]"
                  src="../../../assets/images/home/Testimonials/left-arrow-black-icon.png"
                />
              </button>
            </div>
          </div>
      </Swiper>

      <div class="flex justify-center items-center py-[70px] h-[186px]">
        <button
          class="flex justify-between items-center px-6 py-[18px] text-black-900 bg-[#E8E8ED] w-[218px] h-[64px] text-[24px] rounded-full"
        >
          <div class="text-[#212121]">See All Blogs</div>
          <p class="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="{1.5}"
              stroke="currentColor"
              class="text-2xl"
              height="24px"
              width="24px"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
              />
            </svg>
          </p>
        </button>
      </div>
    </section>
  </div>
</template>
<script setup>
import { Swiper, SwiperSlide } from "swiper/vue";
import { Autoplay, Navigation, Pagination } from "swiper/modules";

import "swiper/css";
import ExpandableButton from "../../buttons/ExpandableButton.vue";
import BlogCard from "./BlogCard.vue";
</script>

<style scoped>
.swiper-button-disabled {
  background-color: #9AC7FF !important;
}
.swiper-button-disabled:hover {
  background-color: #eeeeee !important;
}

</style>
