<template>
  <div class="box ms-4 bg-[#FAFAFC] rounded-3xl">
    <div class="">
      <div class="">
        <div>
          <img
            class="h-[300px] rounded-t-3xl"
            :src="img"
            alt="softzino blog image"
          />
        </div>
      </div>

      <div class="bg-[#FAFAFC] rounded-b-3xl p-6">
        <div>
          <h1
            class="py-4 text-2xl sm:text-3xl font-r-semibold text-left text-[#212121]"
          >
            {{ title ? title : "" }}
          </h1>
          <p class="text-gray-600 text-left text-xl sm:text-2xl">
            {{ content ? content : "" }}
          </p>
          <div class="flex py-4 w-full">
            <div class="flex items-center w-full sm:w-4/12">
              <svg
                fill="#000000"
                viewBox="0 0 32 32"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                height="28px"
                width="28px"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                ></g>
                <g id="SVGRepo_iconCarrier">
                  <title>time1</title>
                  <path
                    d="M16 3.5c-7.181 0-13 5.82-13 13s5.819 13 13 13c7.179 0 13-5.82 13-13s-5.82-13-13-13zM15.895 27.027c-5.799 0-10.5-4.701-10.5-10.5s4.701-10.5 10.5-10.5c5.798 0 10.5 4.701 10.5 10.5s-4.702 10.5-10.5 10.5zM18.93 17.131h-2.98v-5.032c0-0.546-0.443-0.99-0.989-0.99s-0.99 0.443-0.99 0.99v6.021c0 0.547 0.443 0.989 0.99 0.989h3.969c0.547 0 0.99-0.442 0.99-0.989 0-0.546-0.443-0.989-0.99-0.989z"
                  ></path>
                </g>
              </svg>
              <p class="text-gray-600 px-2 w-full text-2xl text-nowrap">
                {{ time ? time : 1 }} Min
              </p>
            </div>
          </div>
        </div>
        <div class="flex justify-end px-4 py-[24px]">
          <ExpandableButton />
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import ExpandableButton from "../../buttons/ExpandableButton.vue";
const props = defineProps(["time", "title", "content", "img"]);
</script>
