<template>
  <section class="bg-[#FAFAFC]">
    <section class="container mx-auto px-[29px]">
        <div class="mb-[60px]">
          <!-- heading section -->
          <div class="flex justify-center">
            <div
              class="text-center font-r-semibold text-3xl sm:text-3xl md:text-4xl lg:text-[40px] text-[#6E6E73] mt-[50px] md:mt-[80px]"
            >
              Find Us
            </div>
          </div>
          <div class="flex justify-center">
            <div
              class="text-center text-4xl sm:text-7xl md:text-8xl lg:text-[110px] font-r-b font-r-b text-ellipsis text-[#212121] mt-[24px]"
            >
              Our Offices
            </div>
          </div>
        </div>
        <div class="flex justify-center">
          <div class="grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 gap-[32px] mb-[100px]">
              <div class="bg-[#fff] border-2 border-[#9AC7FF] rounded-[44px] max-w-[433.33px] px-[29px] hover:bg-[#9AC7FF] hover:scale-[105%] transition-all duration-500">
                  <div class="flex justify-center items-center mt-[70px]">
                      <img class="h-[84px] w-auto" src="../../../assets/images/home/bangladesh-flag.gif" />
                  </div>
                  <div class="flex justify-center items-center mt-[50px] text-center text-[32px] text-[#212121] font-r-semibold cursor-default">
                    <h2>Bangladesh Office</h2>
                  </div>
                  <div class="flex justify-center text-center mx-auto mt-[24px] text-[24px] text-[#212121] line-heigt-32 w-full cursor-default">
                    <P>
                      Tropical Akhand Tower, 23 Gareeb-e-Nawaz Ave, Dhaka 1230
                    </P>
                  </div>
                  <div class="flex justify-center items-center my-[32px] text-[24px] text-[#0567E1] cursor-default">
                    <span><a target="_blank" href="https://g.co/kgs/AMvyC8k">Get Direction</a></span>
                  </div>
              </div>
              <div class="bg-[#fff] border-2 border-[#9AC7FF] rounded-[44px] max-w-[433.33px] px-[29px] hover:bg-[#9AC7FF] hover:scale-[105%] transition-all duration-500">
                  <div class="flex justify-center items-center mt-[70px]">
                      <img class="h-[84px] w-auto" src="../../../assets/images/home/flag-usa.gif" />
                  </div>
                  <div class="flex justify-center items-center mt-[50px] text-center text-[32px] text-[#212121] font-r-semibold cursor-default">
                    <h2>USA Office</h2>
                  </div>
                  <div class="flex justify-center text-center mx-auto mt-[24px] text-[24px] text-[#212121] line-heigt-32 w-full cursor-default">
                    <P>
                      East Nicolas Garden East Freddy 87530-1103
                    </P>
                  </div>
                  <div class="flex justify-center items-center my-[32px] text-[24px] text-[#0567E1] cursor-default">
                    <span><a target="_blank" href="https://g.co/kgs/AMvyC8k">Get Direction</a></span>
                  </div>
              </div>
              <div class="bg-[#fff] border-2 border-[#9AC7FF] rounded-[44px] max-w-[433.33px] px-[29px] hover:bg-[#9AC7FF] hover:scale-[105%] transition-all duration-500">
                  <div class="flex justify-center items-center mt-[70px]">
                      <img class="h-[84px] w-auto" src="../../../assets/images/home/australia-flag.gif" />
                  </div>
                  <div class="flex justify-center items-center mt-[50px] text-center text-[32px] text-[#212121] font-r-semibold cursor-default">
                    <h2>Australia Office</h2>
                  </div>
                  <div class="flex justify-center text-center mx-auto mt-[24px] text-[24px] text-[#212121] line-heigt-32 w-full cursor-default">
                    <P>
                      North Cartwright Falls Kilbackburgh 57081
                    </P>
                  </div>
                  <div class="flex justify-center items-center my-[32px] text-[24px] text-[#0567E1] cursor-default">
                    <span><a target="_blank" href="https://g.co/kgs/AMvyC8k">Get Direction</a></span>
                  </div>
              </div>                            
          </div>
        </div>
    </section>
  </section>
</template>

<script setup>

</script>

<style scoped>
.line-heigt-40 {
  line-height: 40px;
}
.line-heigt-32 {
  line-height: 32px;
}
</style>
