<template>
  <div class="border-red-500 border-4 h-screen mt-10">
    blog
    <input
      class="appearance-none block w-[20%] bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      type="text"
      name="title"
      placeholder="title"
      v-model="state.title"
    />
    <input
      class="appearance-none block w-[20%] bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      type="text"
      name="description"
      placeholder="description"
      v-model="state.description"
    />
    <input
      class="appearance-none block w-[20%] bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      type="text"
      name="readTime"
      placeholder="readTime"
      v-model="state.readTime"
    />
    <input
      class="appearance-none block w-[20%] bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
      type="text"
      name="shortDescription"
      placeholder="shortDescription"
      v-model="state.shortDescription"
    />
    <button
      @click="submit"
      class="px-8 py-2 border bg-green-400 rounded-lg font-xl font-bold capitalize"
    >
      submit
    </button>
  </div>
</template>
<script setup>
import { useCollection } from "vuefire";
import { getFirestore, collection, addDoc } from "firebase/firestore";
import { onMounted, reactive } from "vue";
import { app } from "../../../config/firebase.config";
import { doc, setDoc } from "firebase/firestore";

const db = getFirestore(app);


const state = reactive({
  title: "",
  description: "",
  readTime: "",
  shortDescription: "",
});

const submit = async () => {
  console.log("state", state);
  const id =  Date.now() + ""
  console.log("id", id)
  await addDoc(doc(db, "blogs", id), {
    title: state.title,
    description: state.description,
    readTime: state.readTime,
    shortDescription: state.shortDescription,
  });
};

onMounted(async () => {
  console.log("initialization of db");
  const blogs = await useCollection(collection(db, "blogs"));
  console.log("blogs in db", blogs);
});
</script>
