<template>
  <!-- header section -->
  <header class="hidden lg:block w-full h-[100px] md:h-[40px] bg-[#F5F5F7] sticky bottom-0 z-[999]">
    <nav class="container mx-auto h-full flex flex-col justify-center">
      <div class="">
        <div class="flex flex-col md:flex-row justify-center lg:justify-between items-center">
          <div class="text-center text-xs px-2 sm:text-left">
            Now Hiring: React Native Node Blockchain Managers BDM and
            <a href="" class="text-blue-600 font-bold">more</a>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center text-xs">
            <span class="flex px-1 items-center">
              <span class="px-1 py-0.5">
                  <!-- <img src="../../assets/images/home/envelope-svgrepo-com.svg" width="16" height="16" /> -->
                  <img src="../../assets/images/home/message_icon2.png" width="16" height="16" />
              </span>
              <span>info@softzino.com</span>
            </span>
            <span class="flex px-1 items-center">
              <span class="px-1 py-0.5">
                <!-- <img src="../../assets/images/home/phone-call-svgrepo-com.svg" width="16" height="16" /> -->
                <img src="../../assets/images/home/phone_icon.png" width="16" height="16" />
              </span>
              <span>01855-255342</span>
            </span>
            <span class="">
              <div class="flex justify-center items-center">
                <span class="px-1 py-0.5">
                  <img src="../../assets/images/home/phone_icon.png" width="16" height="16" />
                </span>
                <span>(0)-203-514-4774</span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>