<template>
  <div>
    <div class="message-butto mb-[20px]">
      <div
        class="bg-[#fff] rounded-full h-[50px] w-[50px] md:h-[80px] md:w-[80px] flex justify-center items-center"
      >
        <a class="text-[#0567E1] text-[40px] cursor-pointer">
          <img src="../../assets/icons/message.png" />
        </a>
      </div>
    </div>
    <div class="navigation-butto">
      <div>
        <div class="transition-all duration-1000 ease-linear">
          <a href="#home">
            <LiquidButton3 />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import LiquidButton3 from "./LiquidButton3.vue";
</script>
