<template>
    <a href="#hireus" class="border-[2px] border-[#d109b6] w-[150px] h-[52px] px-[46px] py-[14px] flex justify-center items-center relative overflow-hidden rounded-[26px] hover:cursor-pointer">
         <div class="absolute mt-[-55px]">
            <dotlottie-player src="https://lottie.host/fdb6e451-e3f0-4b34-8bd9-0b8378e68991/q3bAtFLGAq.json" speed="1" style="width: 450px; height: 250px; border-radius: 26px; margin-left:0px;"  :loop="true" :autoplay="true"></dotlottie-player>
         </div>
        <div class="absolute text-white text-[20px]">Hire Us</div>
    </a>
  </template>
  
  <style scoped>
 
  </style>
  