<template>
    <button type="button">
        <span>{{ props.title }}</span>
        <div class="liquid"></div>
    </button>
</template>

<script setup>
const props = defineProps({
    title: String
});
</script>

<style scoped>

button {
position: relative;
width: 150px;
height: 52px;
display: block;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
border-radius: 30px;
border: none;
cursor: pointer;
box-shadow: 0 0 10px 0 rgba(51, 51, 51, .56863);
z-index: 200;
}

button span {
position: relative;
color: #fff;
text-align:center;
z-index: 1;
}

button .liquid {
position: absolute;
top: -80px;
left: 0;
width: 200px;
height: 200px;
background: #4973ff;
box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
transition: 1s;
}

button .liquid::after,
button .liquid::before {
content: '';
width: 200%;
height: 200%;
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%, -75%);
background: #000;
}

button .liquid::before {

border-radius: 45%;
background: rgba(20, 20, 20, 1);
animation: animate 5s linear infinite;
}

button .liquid::after {

border-radius: 40%;
background: rgba(20, 20, 20, .5);
animation: animate 10s linear infinite;
}

button:hover .liquid {
top: -120px;
}

@keyframes animate {
0% {
    transform: translate(-60%, -75%) rotate(0deg);
}
100% {
    transform: translate(-60%, -75%) rotate(1turn);
}
}

</style>