<template>
  <section class="bg-[#FAFAFC]">
    <section class="container mx-auto px-6 sm:px-24" id="achivement">
      <div class="">
        <div class="">
          <!-- heading section -->
          <div class="flex justify-center mt-[60px] md:mt-[140px]">
            <div
              class="text-center font-r-semibold text-3xl sm:text-3xl md:text-4xl lg:text-[40px] text-[#6E6E73] a-title-1"
            >
              What we get?
            </div>
          </div>
          <div class="flex justify-center">
            <div
              class="text-center text-4xl sm:text-7xl md:text-8xl lg:text-[110px] font-r-b mt-6 font-r-b text-ellipsis text-[#212121] a-title-2"
            >
              Our Achievements
            </div>
          </div>
          <div class="flex justify-center">
            <div
              class="text-[#6E6E73] text-xl md:text-2xl mt-6 w-full md:w-9/12 text-center a-description-1"
            >
              Since our establishment, we have been delivering high-quality and
              sustainable software solutions for corporate purposes of worldwide
              businesses.
            </div>
          </div>
          <div class="flex justify-center mt-[52px] w-full mb-[140px]" id="count-animation">
              <div class="grid grid-cols-1 lg:grid-cols-2 gap-[32px] animationCountDiv">
                <div class="h-[408px] w-[300px] lg:w-[350px] xl:w-[433.33px] bg-[#fff] rounded-[30px] hover:scale-[105%] transition-all duration-500">
                    <div class="logo flex justify-center mt-[100px]">
                      <img class="w-[200px] sm:max-w-[353.68px] h-auto sm:h-[70px]"  src="../../../assets/images/home/achivment-section/basis-seeklogo.svg" />
                      </div>
                      <div class="counts flex justify-center mt-[70px] text-[60px] font-r-b text-[#212121]">
                          <span class="data">9</span>
                      </div>
                      <div class="short-text flex justify-center mt-[16px] text-[20px] md:text-[24px] text-[#212121] capitalize">
                        <span>Years Of Experience</span>
                      </div>
                  </div>
                  <div class="h-[408px] w-[300px] lg:w-[350px] xl:w-[433.33px] bg-[#fff] rounded-[30px] hover:scale-[105%] transition-all duration-500">
                    <div class="logo flex justify-center mt-[100px]">
                      <img class="w-[200px] sm:w-[353.68px] h-auto sm:h-[70px]" src="../../../assets/images/home/achivment-section/glassdoor-ar21.svg" />
                      </div>
                      <div class="counts flex justify-center mt-[70px] text-[60px] font-r-b text-[#212121]">
                          <span class="data">4</span> <span>.1</span>
                      </div>
                      <div class="short-text flex justify-center mt-[16px] text-[20px] md:text-[24px] text-[#212121] capitalize">
                        <span>Reviews</span>
                      </div>
                  </div>     
                  <div class="h-[408px] w-[300px] lg:w-[350px] xl:w-[433.33px] bg-[#fff] rounded-[30px] hover:scale-[105%] transition-all duration-500">
                      <div class="logo flex justify-center mt-[100px]">
                          <img class="w-[200px] sm:max-w-[353.68px] h-auto sm:h-[70px]"  src="../../../assets/images/home/achivment-section/linkedin-svgrepo-com.svg" />
                      </div>
                      <div class="counts flex justify-center mt-[70px] text-[60px] font-r-b text-[#212121]">
                          <span><span class="data">4</span>K</span>
                      </div>
                      <div class="short-text flex justify-center mt-[16px] text-[20px] md:text-[24px] text-[#212121] capitalize">
                        <span>Linkedin Followers</span>
                      </div>
                  </div>
                  <div class="h-[408px] w-[300px] lg:w-[350px] xl:w-[433.33px] bg-[#fff] rounded-[30px] hover:scale-[105%] transition-all duration-500">
                    <div class="logo flex justify-center mt-[100px]">
                      <img class="w-[200px] sm:max-w-[353.68px] h-auto sm:h-[70px]"  src="../../../assets/images/home/achivment-section/facebook-5-logo-svgrepo-com.svg" />
                      </div>
                      <div class="counts flex justify-center mt-[70px] text-[60px] font-r-b text-[#212121]">
                        <span><span class="data">6</span>K</span>
                      </div>
                      <div class="short-text flex justify-center mt-[16px] text-[20px] md:text-[24px] text-[#212121] capitalize">
                        <span>Facebook Followers</span>
                      </div>
                  </div>             
              </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>
<script setup>
import { reactive } from "vue";
import { Swiper, SwiperSlide } from "swiper/vue";
import { Autoplay, Navigation, Pagination } from "swiper/modules";
const state = reactive({
  grayscaleLevelImg1: "grayscale",
  grayscaleLevelImg2: "grayscale",
  grayscaleLevelImg3: "grayscale",
  grayscaleLevelImg4: "grayscale",
  grayscaleLevelImg5: "grayscale",
});
</script>

<style scoped>
.line-heigt-40 {
  line-height: 40px;
}
</style>
