<template>
  <section class="bg-[#FAFAFC]">
    <section class="container mx-auto px-6 sm:px-24">
      <section class="pt-14 lg:pt-28 overflow-hidden" id="ourservices">
        <div class="">
          <div
            class="text-center font-r-semibold text-xl md:text-2xl lg:text-3xl xl:text-[40px] text-[#6E6E73] title-section"
          >
            What We Deliver?
          </div>
          <div
            class="text-center text-5xl sm:text-6xl md:text-7xl lg:text-[84px] font-r-b pt-6 title-section-1 ourexpertise"
          >
            <span class="type-animation"></span>
          </div>
        </div>

        <div class="pt-8 lg:pt-[52px]">
          <!-- secion 1 -->

          <div
            class="grid grid-cols-1 lg:grid-cols-2 gap-[10px] md:gap-8"
            id="section-1-cards"
          >
            <!-- cols1 -->
            <div
              class="ps-6 sm:ps-14 pt-14 bg-white rounded-3xl w-min-[300px] w-max-[666px] xl:h-auto 2xl:h-auto 2xl:w-auto card-1 overflow-hidden"
            >
              <div
                class="flex items-end justify-end relative w-[100%] transition ease-in-out hover:scale-105 duration-300"
              >
                <img
                  class="h-[340px]"
                  src="../../../assets//images/home/deliver-section/laptopImage.png"
                />
              </div>

              <div class="pt-16 xl:pb-8">
                <div class="w-full sm:w-[90%]">
                  <h4
                    class="text-[#0068DC] w-full font-r-semibold text-xl lg:text-2xl"
                  >
                    Designed For Entrepreneurs
                  </h4>
                  <h2
                    class="font-r-b text-2xl md:text-3xl lg:text-4xl xl:text-[42px] py-4 lg:py-8"
                  >
                    Web Development
                  </h2>
                </div>
                <div
                  class="w-[100%] flex justify-end items-start lg:items-end xl:items-start pb-8 sm:pb-0 pt-8 pr-6 md:pr-14 h-auto lg:h-40 xl:h-auto"
                >
                  <ExpandButton />
                </div>
              </div>
            </div>
            <!-- cols2 -->
            <div
              class="pt-6 px-6 sm:px-14 sm:pt-14 bg-white rounded-3xl w-min-[300px] w-max-[666px] xl:h-auto 2xl:h-auto 2xl:w-auto card-2"
            >
              <div class="2xl:pb-9 h-[15%]">
                <h4
                  class="text-[#0068DC] w-full font-r-semibold text-xl lg:text-2xl"
                >
                  Designed For Entrepreneurs
                </h4>
                <h2
                  class="font-r-b text-2xl md:text-3xl lg:text-4xl xl:text-[42px] pt-4 pb-[52px]"
                >
                  Mobile Development
                </h2>
              </div>

              <div
                class="grid grid-cols-1 xl:grid-cols-[80%_20%] relative h-[85%] w-[100%]"
              >
                <div
                  class="flex items-end pt-0 lg:pt-4 xl:pt-0 transition ease-in-out hover:-translate-y-2 duration-300"
                >
                  <img
                    class="w-[296px] lg:w-[296px] xl:w-[296px]"
                    src="../../../assets//images/home/deliver-section/mobileImage.png"
                  />
                </div>
                <div class="flex justify-end items-end pb-8">
                  <ExpandButton />
                </div>
              </div>
            </div>
          </div>

          <!-- section 2-->
          <div class="col h-auto" id="section-2-cards">
            <div
              class="bg-white rounded-3xl mt-4 lg:mt-8 py-8 px-8 grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 card-3"
            >
              <img
                class="h-[400px] md:h-[546px] transition ease-in-out hover:scale-105 duration-300"
                src="../../../assets/images/home/deliver-section/poslaptop.png"
              />
              <!-- heading -->
              <div
                class="pt-8 sm:pt-28 md:pt-28 lg:pt-36 relative sm:pb-10 md:pb-14"
              >
                <div class="h-auto sm:h-[180px]">
                  <h4
                    class="text-[#0068DC] w-full font-r-semibold text-xl lg:text-2xl"
                  >
                    Designed For Entrepreneurs
                  </h4>
                  <h2
                    class="font-r-b pt-4 pb-6 text-5xl sm:text-6xl md:text-7xl lg:text-[80px]"
                  >
                    UX-UI Design
                  </h2>
                </div>
                <div class="flex justify-end sm:absolute bottom-0 right-0">
                  <div class="w-[200px] flex justify-end">
                    <ExpandButton />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- section 3 -->

          <div class="mt-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-8"
              id="section-3-cards"
            >
              <!-- cols1 -->
              <div
                class="bg-white rounded-3xl py-8 transition ease-in-out hover:scale-105 duration-300 s-card-1"
              >
                <div class="flex items-end justify-start relative">
                  <img
                    class="w-3/6"
                    src="../../../assets//images/home/deliver-section/lpmain2.png"
                  />
                </div>
                <div class="mt-14 px-7 lg:min-h-36 xl:min-h-28 max-h-36">
                  <h4
                    class="text-[#0068DC] w-full font-r-semibold text-xl lg:text-xl xl:text-2xl"
                  >
                    Designed For Entrepreneurs
                  </h4>
                  <h2
                    class="font-r-semibold text-3xl lg:text-2xl xl:text-[32px] py-4"
                  >
                    Web Development
                  </h2>
                </div>
                <div class="w-[100%] flex justify-end px-7">
                  <ExpandButton />
                </div>
              </div>
              <!-- cols2 -->
              <div class="bg-white rounded-3xl py-8">
                <!-- transition ease-in-out hover:scale-105 duration-300 -->
                <div class="flex items-end justify-start relative">
                  <img
                    class="w-3/6"
                    src="../../../assets//images/home/deliver-section/lpmain2.png"
                  />
                </div>
                <div class="mt-14 px-7 lg:min-h-36 xl:min-h-28 max-h-36">
                  <h4
                    class="text-[#0068DC] w-full font-r-semibold text-xl lg:text-xl xl:text-2xl"
                  >
                    Designed For Entrepreneurs
                  </h4>
                  <h2
                    class="font-r-semibold text-3xl lg:text-2xl xl:text-[32px] py-4"
                  >
                    QA Testing
                  </h2>
                </div>
                <div class="w-[100%] flex justify-end px-7">
                  <ExpandButton />
                </div>
              </div>
              <!-- cols3 -->
              <div
                class="bg-[#0567E1] rounded-3xl py-8 transition ease-in-out hover:scale-105 duration-300 s-card-3"
              >
                <div class="flex items-end justify-start relative">
                  <img
                    class="w-3/6"
                    src="../../../assets//images/home/deliver-section/lpmain2.png"
                  />
                </div>
                <div
                  class="mt-14 px-4 xl:px-7 lg:min-h-36 xl:min-h-28 max-h-36"
                >
                  <h4
                    class="text-[#82B3F0] w-full font-r-semibold text-xl lg:text-xl xl:text-2xl"
                  >
                    Designed For Entrepreneurs
                  </h4>
                  <h2
                    class="text-white font-r-semibold text-3xl lg:text-2xl xl:text-[32px] py-4 text-nowrap"
                  >
                    AI Base Development
                  </h2>
                </div>
                <div class="w-[100%] flex justify-end px-7">
                  <ExpandButton bgColor="bg-[#1E76E4]" />
                </div>
              </div>
            </div>
          </div>

          <!-- buttons for section 2 -->
          <div
            class="flex justify-center pt-28 md:pt-52 lg:pt-64 pb-16 md:pb-32 lg:pb-[140px]"
          >
            <button
              class="px-6 py-[18px] text-black-900 bg-[#E8E8ED] flex justify-between items-center w-[248px] h-[64px] text-[24px] rounded-full"
            >
              <div class="">See All Services</div>
              <p class="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  strokeWidth="{1.5}"
                  stroke="currentColor"
                  class="text-2xl"
                  height="24px"
                  width="24px"
                >
                  <path
                    strokeLinecap="round"
                    strokeLinejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                  />
                </svg>
              </p>
            </button>
          </div>
        </div>
      </section>
    </section>
  </section>
</template>
<script setup>
import { onMounted } from "vue";
import ExpandButton from "../../buttons/ExpandableButton.vue";

// type animation function
const typeAnimation = (className, text) => {
  const tl = gsap.timeline({ yoyo: true });
  tl.to(className + "", {
    duration: 3,
    text: text ? text : "Hello !",
  });
};

onMounted(() => {
  // delivery section title section animation
  gsap.set(".title-section", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".title-section", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrub: true,
    scrollTrigger: {
      trigger: "#ourservices",
      start: "top 50%",
      end: "+=300",
      // toggleActions: "play none none reset",
      id: "::title",
      // markers: {
      //   startColor: "red",
      //   endColor: "green",
      //   fontWeight: "bold",
      // },
    },
  });

  // delivery section typo animation
  gsap.to(".type-animation", {
    scrollTrigger: {
      trigger: "#ourservices",
      start: "top 50%",
      end: "+=300",
      toggleActions: "play none none none",
      id: "::Typoo",
      onEnter: () => {
        console.log("animation");
        typeAnimation(".type-animation", "Our Expertise");
      },
      // markers: {
      //   startColor: "red",
      //   endColor: "green",
      //   fontWeight: "bold",
      // },
    },
  });

  gsap.defaults({ ease: "none" });

  // #card section animations
  //card-1
  gsap.set(".card-1", {
    opacity: 0.8,
    x: -30,
  });
  gsap.to(".card-1", {
    x: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#section-1-cards",
      start: "top 50%",
      end: "+=300",
      // toggleActions: "play none none reset",
      id: "::card-1",
      // markers: {
      //   startColor: "red",
      //   endColor: "green",
      //   fontWeight: "bold",
      // },
    },
  });
  //card-2
  gsap.set(".card-2", {
    opacity: 0.8,
    x: 30,
  });
  gsap.to(".card-2", {
    x: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#section-1-cards",
      start: "top 50%",
      end: "+=300",
      // toggleActions: "play none none reset",
      id: "::card-1",
      // markers: {
      //   startColor: "red",
      //   endColor: "green",
      //   fontWeight: "bold",
      // },
    },
  });
  //card-3
  gsap.set(".card-3", {
    opacity: 0.7,
    y: 30,
  });

  gsap.to(".card-3", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#section-2-cards",
      start: "top 60%",
      end: "+=300",
      // toggleActions: "play none none reset",
      id: "::card-1",
      // markers: {
      //   startColor: "red",
      //   endColor: "green",
      //   fontWeight: "bold",
      // },
    },
  });

  gsap.set(".s-card-1", {
    opacity: 0.7,
    x: -60,
  });

  gsap.to(".s-card-1", {
    x: 0,
    duration: 0.2,
    opacity: 1,
    // delay : 0.2,
    scrollTrigger: {
      trigger: "#section-3-cards",
      start: "top 60%",
      end: "+=300",
      // toggleActions: "play none none reset",
      id: "::s-card-3",
      // markers: {
      //   startColor: "red",
      //   endColor: "green",
      //   fontWeight: "bold",
      // },
    },
  });

  gsap.set(".s-card-3", {
    opacity: 0.7,
    x: 60,
  });

  gsap.to(".s-card-3", {
    x: 0,
    duration: 0.2,
    opacity: 1,
    // delay : 0.2,
    scrollTrigger: {
      trigger: "#section-3-cards",
      start: "top 60%",
      end: "+=300",
      // toggleActions: "play none none reset",
      id: "::s-card-3",
      // markers: {
      //   startColor: "red",
      //   endColor: "green",
      //   fontWeight: "bold",
      // },
    },
  });

  // our strength title and description animation (title - 2 title section 2)

  gsap.set(".os-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".os-title-2", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".os-description-1", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".os-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#ourstrength-2",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  gsap.to(".os-title-2", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.5,
    scrollTrigger: {
      trigger: "#ourstrength-2",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  gsap.to(".os-description-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.8,
    scrollTrigger: {
      trigger: "#ourstrength-2",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  // work with us section title description animation
  gsap.set(".w-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".w-title-2", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".w-description-1", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".w-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#whoWorkedAndWorkingWithUs",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  gsap.to(".w-title-2", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.5,
    scrollTrigger: {
      trigger: "#whoWorkedAndWorkingWithUs",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  gsap.to(".w-description-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.8,
    scrollTrigger: {
      trigger: "#whoWorkedAndWorkingWithUs",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  // case study section title description animation

  gsap.set(".c-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".c-title-2", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".c-description-1", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".c-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#casestudy",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  gsap.to(".c-title-2", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.5,
    scrollTrigger: {
      trigger: "#casestudy",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  gsap.to(".c-description-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.8,
    scrollTrigger: {
      trigger: "#casestudy",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  // testimonials section t-title-1 t-title-2 animation

  gsap.set(".t-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".t-title-2", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".t-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#testimonials",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  gsap.to(".t-title-2", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.5,
    scrollTrigger: {
      trigger: "#testimonials",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  // hire-us section t-title-1 t-title-2 animation

  gsap.set(".h-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".h-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#hireus",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });
  gsap.to(".h-title-2", {
    delay: 0.5,
    scrollTrigger: {
      trigger: "#hireus",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
      onEnter: () =>
        typeAnimation(".want-to-work", "Want to work with Softzino?"),
    },
  });

  // blog section t-title-1 t-title-2 animation

  gsap.set(".b-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".b-title-2", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".b-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#blog",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  gsap.to(".b-title-2", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.5,
    scrollTrigger: {
      trigger: "#blog",
      start: "top 50%",
      end: "+=300",
      id: "::our strength -2",
    },
  });

  // blogs card animation

  gsap.set(".blog-card-1", {
    y: 30,
    opacity: 0.7,
  });
  gsap.set(".blog-card-2", {
    y: 30,
    opacity: 0.7,
  });
  gsap.set(".blog-card-3", {
    y: 30,
    opacity: 0.7,
  });
  gsap.set(".blog-card-4", {
    y: 30,
    opacity: 0.7,
  });
  // gsap.set(".blog-card-5", {
  //   y: 30,
  //   opacity: 0.7,
  // });

  gsap.to(".blog-card-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.1,
    scrollTrigger: {
      toggleActions: "play none none reset",
      trigger: "#blogSlider",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".blog-card-2", {
    y: 0,
    duration: 0.6,
    opacity: 1,
    delay: 0.3,
    scrollTrigger: {
      toggleActions: "play none none reset",
      trigger: "#blogSlider",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".blog-card-3", {
    y: 0,
    duration: 0.7,
    opacity: 1,
    delay: 0.6,
    scrollTrigger: {
      toggleActions: "play none none reset",
      trigger: "#blogSlider",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".blog-card-3", {
    y: 0,
    duration: 0.8,
    opacity: 1,
    delay: 0.9,
    scrollTrigger: {
      toggleActions: "play none none reset",
      trigger: "#blogSlider",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".blog-card-4", {
    y: 0,
    duration: 0.9,
    opacity: 1,
    delay: 1.2,
    scrollTrigger: {
      toggleActions: "play none none reset",
      trigger: "#blogSlider",
      start: "top 50%",
      end: "+=300",
      // markers : {
      //   startColor : 'red',
      //   endColor : 'blue',
      // },
    },
  });

  // ouroffice section t-title-1 t-title-2 animation

  gsap.set(".office-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".office-title-2", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".office-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#ourclient",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".office-title-2", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.5,
    scrollTrigger: {
      trigger: "#ourclient",
      start: "top 50%",
      end: "+=300",
    },
  });

  // achivement section title description animation

  gsap.set(".a-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".a-title-2", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".a-description-1", {
    opacity: 0,
    y: 10,
  });

  gsap.to(".a-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#achivement",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".a-title-2", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.5,
    scrollTrigger: {
      trigger: "#achivement",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".a-description-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.8,
    scrollTrigger: {
      trigger: "#achivement",
      start: "top 50%",
      end: "+=300",
    },
  });

  // anim text
  const animText = () => {
    const items = document.querySelectorAll(".data");

    gsap.from(items, {
      textContent: 0,
      duration: 1,
      ease: "power1.in",
      snap: { textContent: 1 },
      stagger: {
        // each: 1.0,
        onUpdate: function () {
          this.targets()[0].innerHTML = Math.ceil(
            this.targets()[0].textContent
          );
        },
      },
    });
  };
  // count animation
  gsap.to(".animationCountDiv", {
    scrollTrigger: {
      trigger: "#count-animation",
      start: "top 50%",
      end: "+=300",
      // markers: true,
      toggleActions: "play none none reverse",
      onEnter: () => {
        animText();
      },
    },
  });

  // our project section title description animation
  gsap.set(".p-title-1", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".p-title-2", {
    opacity: 0,
    y: 10,
  });

  gsap.set(".p-description-1", {
    opacity: 0,
    y: 10,
  });

  // our project card section animation
  gsap.set(".p-card-1", {
    opacity: 0,
    x: -30,
  });

  gsap.set(".p-card-2", {
    opacity: 0,
    x: 30,
  });

  gsap.to(".p-title-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    scrollTrigger: {
      trigger: "#ourprojects",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".p-title-2", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.5,
    scrollTrigger: {
      trigger: "#ourprojects",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".p-description-1", {
    y: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.8,
    scrollTrigger: {
      trigger: "#ourprojects",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".p-card-1", {
    x: 0,
    duration: 0.5,
    opacity: 1,
    delay: 0.6,
    scrollTrigger: {
      trigger: "#ourprojects",
      start: "top 50%",
      end: "+=300",
    },
  });

  gsap.to(".p-card-2", {
    x: 0,
    duration: 0.5,
    opacity: 1,
    delay: 1,
    scrollTrigger: {
      trigger: "#ourprojects",
      start: "top 50%",
      end: "+=300",
    },
  });
});
</script>
<style scoped></style>
