<template>
    <div class="bg-[#fff] flex justify-center" id="ourprojects">
        <div class="container mx-auto px-6 overflow-hidden">
            <div class="mt-[60px] md:mt-[100px] text-[#6E6E73] text-2xl sm:text-3xl md:text-4xl lg:text-[40px] font-r-semibold p-title-1">
                <span>What we have done?</span>
            </div>
            <div class="mt-[24px] text-[#212121] text-6xl sm:text-7xl md:text-8xl lg:text-[110px] font-r-b capitalize p-title-2">
                <span>Our Projects</span>
            </div>
            <div class="mt-[24px] max-w-[970px] text-[#6E6E73] text-base sm:text-lg md:text-xl lg:text-[24px] line-height-32 p-description-1">
                <p>
                    Since our establishment, we have been delivering high-quality and sustainable software solutions for
                    corporate purposes of worldwide businesses.
                </p>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 mt-[60px] gap-4 p-card-1">
                <div>
                    <img class="max-h-[450px]" src="../../../assets/images/home/Our-Projects/image1.png" />
                </div>
                <div class="flex justify-start items-center order-first lg:order-last mb-[30px] lg:mb-0">
                    <div>
                        <div class="text-2xl sm:text-3xl md:text-4xl lg:text-[48px] text-[#212121] font-r-b">
                            <h2>Mobile App Design</h2>
                        </div>
                        <div class="mt-[24px] text-base sm:text-lg md:text-xl lg:text-[24px] text-[#212121] line-height-40 max-w-[646px]">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry’s standard dummy text .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 p-card-2">
                <div class="flex justify-start items-center mt-[30px] lg:mt-0">
                    <div>
                        <div class="text-2xl sm:text-3xl md:text-4xl lg:text-[48px] text-[#212121] font-r-b">
                            <h2>Dashboard Design</h2>
                        </div>
                        <div class="mt-[24px] text-base sm:text-lg md:text-xl lg:text-[24px] text-[#212121] line-height-40 max-w-[646px]">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry’s standard dummy text .
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-[30px] lg:mt-[60px]">
                    <img class="max-h-[450px]" src="../../../assets/images/home/Our-Projects/image_2.png" />
                </div>
            </div>
            <div class="flex justify-center mt-[60px] mb-[60px] md:mb-[100px]">
                <button
                    class="flex justify-between items-center px-6 py-[18px] text-black-900 bg-[#E8E8ED] w-[261px] h-[64px] text-[24px] rounded-full">
                    <div class="text-[#212121]">See More Projects</div>
                    <p class="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth="{1.5}"
                            stroke="currentColor" class="text-2xl" height="24px" width="24px">
                            <path strokeLinecap="round" strokeLinejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </p>
                </button>
            </div>
        </div>
    </div>
</template>

<style scoped>
.line-height-32 {
    line-height: 32px;
}

.line-height-40 {
    line-height: 40px;
}
</style>