<template>
  <HeroSections />
  <DeliverSection />

  <OurStrengthsSection />
  <WorkWithUsSection />
  <CaseStudySection />
  <Testimonials />
  <HireUs />
  <BlogSection />

  <OfficeMaps />
  <AchivementSection />
  <OurProjects />
  <FaqSection />
  <OurOffices />
  <FloatButtons
    class="fixed right-[30px] sm:right-[60px] bottom-[50px] sm:bottom-[100px] z-30"
  />
</template>
<script setup>
import DeliverSection from "../components/home/deliver-section/DeliverSection.vue";
import OurStrengthsSection from "../components/home/our-strengths/OurStrengthsSection.vue";
import WorkWithUsSection from "../components/home/work-with-us/WorkWithUsSection.vue";
import Testimonials from "../components/home/testimonials/Testimonials.vue";
import HireUs from "../components/home/hire-us/HireUs.vue";
import BlogSection from "../components/home/blog-section/BlogSection.vue";
import AchivementSection from "../components/home/achivment-section/AchivementSection.vue";
import OfficeMaps from "../components/home/office-map-section/Map.vue";
import HeroSection from "../components/home/hero-section/HeroSection.vue";
import HeroSections from "../components/home/hero-section/HeroSections.vue";
import FloatButtons from "../components/buttons/FloatButtons.vue";
import CaseStudySection from "../components/home/case-study/CaseStudySection.vue";
import FaqSection from "../components/home/faq-section/FaqSection.vue";
import OurProjects from "../components/home/our-projects/OurProjects.vue";
import OurOffices from "../components/home/our-offices/Ourffices.vue";
import { onMounted } from "vue";


import { gsap } from "gsap";

import { CustomEase } from "gsap/CustomEase";
import { RoughEase, ExpoScaleEase, SlowMo } from "gsap/EasePack";

import { Flip } from "gsap/Flip";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import { Observer } from "gsap/Observer";
import { ScrollToPlugin } from "gsap/ScrollToPlugin";
import { Draggable } from "gsap/Draggable";
import { MotionPathPlugin } from "gsap/MotionPathPlugin";
import { EaselPlugin } from "gsap/EaselPlugin";
import { PixiPlugin } from "gsap/PixiPlugin";
import { TextPlugin } from "gsap/TextPlugin";



</script>
