<template>
  <section class="bg-[#FAFAFC]">
    <section class="container mx-auto px-6 sm:px-24 sm:py-8">
      <!-- faq section -->
      <div class="pt-20 md:pt-[140px]">
        <div class="grid grid-cols-1 pt-6">
          <div
            class="text-left font-r-semibold text-2xl sm:text-3xl md:text-4xl lg:text-[40px] text-[#6E6E73]"
          >
            Do you want to know more ?
          </div>
          <div
            class="text-left text-6xl sm:text-7xl md:text-8xl lg:text-[110px] font-semibold pt-6 font-r-b text-ellipsis"
          >
            FAQ
          </div>
          <p
            class="text-[#6E6E73] text-base sm:text-lg md:text-xl lg:text-2xl pt-6 pb-[60px]"
          >
            Since our establishment, we have been delivering high-quality and
            sustainable software solutions for corporate purposes of worldwide
            businesses.
          </p>
        </div>

        <div class="pb-28">
          <FaqTab
            id="accordion"
            heading="What makes Softzino diffrent from others software development companies"
            content="A Michigan based company approached us to develop a food delivery platform, which they would offer to local restaurants and delivery persons in a region as a third-party platform for getting the food to the doorstep of the customer. The customer would use the platform to find the nearest restaurants and get their food delivered to their destinations. A Michigan based company approached us to develop a food delivery platform, which they would offer to local restaurants and delivery persons in a region as a third-party platform for getting the food to the doorstep of the customer. The customer would use the platform to find the nearest restaurants and get their food delivered to their destinations."
          />
          <FaqTab
            id="accordion1"
            heading="How does Softzino ensure sustainablity of its software solution?"
            content=" Lorem Since our establishment, we have been delivering high-quality and
          sustainable software solutions for corporate purposes of worldwide
          businesses. Since our establishment, we have been delivering high-quality and
          sustainable software solutions for corporate purposes of worldwide
          businesses. ipsum, dolor sit amet consectetur adipisicing elit. Vero iure autem possimus ea saepe rerum praesentium? Neque ut labore harum culpa quia at nulla repudiandae!2lorem"
          />
          <FaqTab
            id="accordion2"
            heading="Can Softzino handle the entire software development lifecycle?"
            content=" Lorem Since our establishment, we have been delivering high-quality and
          sustainable software solutions for corporate purposes of worldwide
          businesses. Since our establishment, we have been delivering high-quality and
          sustainable software solutions for corporate purposes of worldwide
          businesses. ipsum, dolor sit amet consectetur adipisicing elit. Vero iure autem possimus ea saepe rerum praesentium? Neque ut labore harum culpa quia at nulla repudiandae!2lorem"
          />

          <FaqTab
            id="accordion3"
            heading="What industries does Softzino specialize in?"
            content=" Lorem Since our establishment, we have been delivering high-quality and
          sustainable software solutions for corporate purposes of worldwide
          businesses. Since our establishment, we have been delivering high-quality and
          sustainable software solutions for corporate purposes of worldwide
          businesses. ipsum, dolor sit amet consectetur adipisicing elit. Vero iure autem possimus ea saepe rerum praesentium? Neque ut labore harum culpa quia at nulla repudiandae!2lorem"
          />

          <FaqTab
            id="accordion4"
            heading="Does Softzino offer custom software solutions for startups and small businesses?"
            content=" Lorem Since our establishment, we have been delivering high-quality and
          sustainable software solutions for corporate purposes of worldwide
          businesses. Since our establishment, we have been delivering high-quality and
          sustainable software solutions for corporate purposes of worldwide
          businesses. ipsum, dolor sit amet consectetur adipisicing elit. Vero iure autem possimus ea saepe rerum praesentium? Neque ut labore harum culpa quia at nulla repudiandae!2lorem"
          />
        </div>
      </div>
    </section>
  </section>
</template>
<script setup>
import FaqTab from "./FaqTab.vue";
</script>
