<template>
    <div class="flex flex-col gap-4 justify-center items-center w-[433.33px] h-[408px] bg-[#FFFFFF] rounded-[30px] p-8 relative overflow-hidden group">
        <div class="img opacity-100 group-hover:opacity-0 transition-all ease-out duration-[500ms]">
            <img :src="getImgUrl()" />
        </div>
        <div class="title text-[#212121] text-lg md:text-xl lg:text-2xl font-r-medium mt-[60px]">
            <h3>{{ props.title }}</h3>
        </div>
        <div class="description text-center text-[#6E6E73] text-lg md:text-xl lg:text-2xl line-height-32 w-3/4">
            <p>{{ props.description }}</p>
        </div>
        <div class="p-16 hover-div flex flex-col gap-4 justify-center items-center absolute bg-[#F7F7FF] w-[433.33px] h-[408px] rounded-[30px] transform translate-y-full transition ease-in-out duration-[800ms] group-hover:translate-y-0">
            <div class="title  text-[#212121] text-lg md:text-xl lg:text-2xl font-r-medium mt-[60px]">
                <h3>{{ props.hoverTitle }}</h3>
            </div>
            <div class="description text-center text-[#6E6E73] text-lg md:text-xl lg:text-2xl line-height-32 w-3/4">
                <p>{{ props.hoverDescription }}</p>
            </div>
        </div>
    </div>
</template>


<script setup>

const props = defineProps({
    logo: String,
    title: String,
    description: String,
    hoverTitle: String,
    hoverDescription: String,
});

const getImgUrl = () => {
    return '/working-with-us/'+props.logo;
}

</script>

<style scoped>

.line-height-32 {
    line-height: 32px;
}

</style>