<template>
  <div>
    <Layout>
      <router-view></router-view>
    </Layout>
  </div>
</template>

<script setup>
import Layout from "./components/layout/Layout.vue";
</script>

<style scoped></style>
