<template>
  <section id="ourcompany" class="pb-[50px] md:pb-[80px] bg-[#fff] md:mt-[140px] md:mb-[60px]">
    <div class="container mx-auto flex justify-center" id="ourclient">
      <div class="grid grid-cols-1">
        <div class="flex justify-center">
          <div class="px-8">
            <!-- heading section -->
            <div
              class="text-center font-r-semibold text-2xl sm:text-3xl md:text-4xl lg:text-[40px] text-[#6E6E73] mb-[22px] mt-[80px] office-title-1">
              Where are we?
            </div>
            <div class="text-[#212121] text-center text-5xl sm:text-6xl md:text-7xl lg:text-[84px] font-r-semibold  mt-[24px] office-title-2">
              Our Clients
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto bg-white-700 background-map flex justify-center mt-[60px]">
      <div class="max-w-[1220px] max-h-[610px]">
        <div class="world-map">
          <img src="../../../assets/images/home/office-maps/Map_new.png" alt="World Map" />

          <div class="absolute canada group">
            <div class="flex justify-between items-center gap-2">
              <div class="ping h-[8px] w-[8px] md:h-[10px] md:w-[10px] lg:h-[20px] lg:w-[20px] rounded-full">
                <span class="relative flex h-full w-full">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#6E6E73] opacity-50"></span>
                  <span class="relative inline-flex rounded-full h-full w-full bg-[#6E6E73] opacity-50"></span>
                </span>
              </div>
              <div class="opacity-0 group-hover:opacity-100 tooltip flex justify-center items-center py-[10px] sm:py-[14px] px-[8px] sm:px-[12px] w-auto h-[24px] bg-[#212121] text-[#fff] text-[14px] sm:text-[20px] rounded-lg">
                <span>Canada</span>
              </div>
            </div>
          </div>
          <div class="absolute usa group">
            <div class="flex justify-between items-center gap-2">
              <div class="ping h-[8px] w-[8px] md:h-[10px] md:w-[10px] lg:h-[15px] lg:w-[15px] rounded-full">
                <span class="relative flex h-full w-full">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#6E6E73] opacity-50"></span>
                  <span class="relative inline-flex rounded-full h-full w-full bg-[#6E6E73] opacity-50"></span>
                </span>
              </div>
              <div class="opacity-0 group-hover:opacity-100 tooltip flex justify-center items-center py-[10px] sm:py-[14px] px-[8px] sm:px-[12px] w-auto h-[24px] bg-[#212121] text-[#fff] text-[14px] sm:text-[20px] rounded-lg">
                <span>USA</span>
              </div>
            </div>
          </div>
          <div class="absolute brazil group">
            <div class="flex justify-between items-center gap-2">
              <div class="ping h-[8px] w-[8px] md:h-[10px] md:w-[10px] lg:h-[15px] lg:w-[15px] rounded-full">
                <span class="relative flex h-full w-full">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#6E6E73] opacity-50"></span>
                  <span class="relative inline-flex rounded-full h-full w-full bg-[#6E6E73] opacity-50"></span>
                </span>
              </div>
              <div class="opacity-0 group-hover:opacity-100 tooltip flex justify-center items-center py-[10px] sm:py-[14px] px-[8px] sm:px-[12px] w-auto h-[24px] bg-[#212121] text-[#fff] text-[14px] sm:text-[20px] rounded-lg">
                <span>Brazil</span>
              </div>
            </div>
          </div>
          <div class="absolute greenland group">
            <div class="flex justify-between items-center gap-2">
              <div class="ping h-[8px] w-[8px] md:h-[10px] md:w-[10px] lg:h-[20px] lg:w-[20px] rounded-full">
                <span class="relative flex h-full w-full">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#6E6E73] opacity-50"></span>
                  <span class="relative inline-flex rounded-full h-full w-full bg-[#6E6E73] opacity-50"></span>
                </span>
              </div>
              <div class="opacity-0 group-hover:opacity-100 tooltip flex justify-center items-center py-[10px] sm:py-[14px] px-[8px] sm:px-[12px] w-auto h-[24px] bg-[#212121] text-[#fff] text-[14px] sm:text-[20px] rounded-lg">
                <span>Greenland</span>
              </div>
            </div>
          </div>
          <div class="absolute norway group">
            <div class="flex justify-between items-center gap-2">
              <div class="ping h-[8px] w-[8px] md:h-[10px] md:w-[10px] lg:h-[15px] lg:w-[15px] rounded-full">
                <span class="relative flex h-full w-full">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#6E6E73] opacity-50"></span>
                  <span class="relative inline-flex rounded-full h-full w-full bg-[#6E6E73] opacity-50"></span>
                </span>
              </div>
              <div class="opacity-0 group-hover:opacity-100 tooltip flex justify-center items-center py-[10px] sm:py-[14px] px-[8px] sm:px-[12px] w-auto h-[24px] bg-[#212121] text-[#fff] text-[14px] sm:text-[20px] rounded-lg">
                <span>Norway</span>
              </div>
            </div>
          </div>   
          <div class="absolute ukraine group">
            <div class="flex justify-between items-center gap-2">
              <div class="ping h-[8px] w-[8px] md:h-[10px] md:w-[10px] lg:h-[10px] lg:w-[10px] rounded-full">
                <span class="relative flex h-full w-full">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#6E6E73] opacity-50"></span>
                  <span class="relative inline-flex rounded-full h-full w-full bg-[#6E6E73] opacity-50"></span>
                </span>
              </div>
              <div class="opacity-0 group-hover:opacity-100 tooltip flex justify-center items-center py-[10px] sm:py-[14px] px-[8px] sm:px-[12px] w-auto h-[24px] bg-[#212121] text-[#fff] text-[14px] sm:text-[20px] rounded-lg">
                <span>Ukraine</span>
              </div>
            </div>
          </div>   
          <div class="absolute bangladesh group">
            <div class="flex justify-between items-center gap-2">
              <div @click="showLocation('bangladesh_location')" class="ping h-[10px] w-[10px] rounded-full">
                <span class="relative flex h-full w-full">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#6E6E73] opacity-50"></span>
                  <span class="relative inline-flex rounded-full h-full w-full bg-[#6E6E73] opacity-50"></span>
                </span>
              </div>
              <div class="opacity-0 group-hover:opacity-100 tooltip flex justify-center items-center py-[10px] sm:py-[14px] px-[8px] sm:px-[12px] w-auto h-[24px] bg-[#212121] text-[#fff] text-[14px] sm:text-[20px] rounded-lg">
                <span>Bangladesh</span>
              </div>
            </div>
          </div>   
          <div class="absolute china group">
            <div class="flex justify-between items-center gap-2">
              <div class="ping h-[8px] w-[8px] md:h-[10px] md:w-[10px] lg:h-[15px] lg:w-[15px] rounded-full">
                <span class="relative flex h-full w-full">
                  <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#6E6E73] opacity-50"></span>
                  <span class="relative inline-flex rounded-full h-full w-full bg-[#6E6E73] opacity-50"></span>
                </span>
              </div>
              <div class="opacity-0 group-hover:opacity-100 tooltip flex justify-center items-center py-[10px] sm:py-[14px] px-[8px] sm:px-[12px] w-auto h-[24px] bg-[#212121] text-[#fff] text-[14px] sm:text-[20px] rounded-lg">
                <span>China</span>
              </div>
            </div>
          </div>                                       
          <div id="bangladesh_location" class="absolute hidden top-[20%] left-[39%]">
            <Location
              id="bangladesh_location"
              liveMap="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58387.15328335826!2d90.31873084856971!3d23.847134507184272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c41087fd55d5%3A0x1342e9e70c75ff57!2sSoftzino%20Technologies!5e0!3m2!1sen!2sbd!4v1716725710800!5m2!1sen!2sbd"
              title="Bangladesh Office" address="Tropical Akhand Tower, 23 Gareeb-e-Nawaz Ave, Dhaka 1230"
              phone="+8812345678" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import Location from './shared/Location.vue';
const showLocation = (id) => {
  let element = document.getElementById(id);
  if (element.classList.contains("hidden")) {
    element.classList.remove("hidden");
  } else {
    element.classList.add("hidden");
  }
};
</script>

<style scoped>
.world-map {
  width: 100%;
  position: relative;
}

.world-map img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.canada {
  top: 26.8%;
  left: 15.8%;
}

.usa {
  top: 42%;
  left: 21.6%;
}

.brazil {
  top: 69.5%;
  left: 33.6%;
}

.greenland {
  top: 8.5%;
  left: 36.6%;
}

.china {  
  top: 41.4%;
  left: 74.3%;
}

.norway {  
  top: 25%;
  left: 48.8%;
}

.ukraine {  
  top: 33%;
  left: 54.8%;
}

.bangladesh {
  top: 47.8%;
  left: 71.8%;
}
</style>